.chat-toggle {
    position: fixed;
    bottom: -12px;
    right: -30px;
    z-index: 1;
    width: 184px;
    height: 184px;
    cursor: pointer;
    animation: float 2.5s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translate(0);
    }

    50% {
        transform: translateY(-12px);
    }
}

.chat-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    width: 342px;
    height: 480px;
    background: var(--bg-color);
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
    animation: flipIn 0.3s ease-out;
}

@keyframes flipIn {
    0% {
        opacity: 0;
        transform: rotateX(60deg) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg) scale(1);
    }
}


.chat-header {
    padding: 8px 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c1c1c1;
}

.chat-close {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;
    transition: 0.24s;

    &:hover {
        transform: scale(1.2);
    }
}

.chat-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 12px;
    overflow-y: auto;
    background: var(--bg-chat);
}

.chat-msg {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 18px;
    max-width: 70%;
}

.chat-msg.user {
    background: #ff4023;
    color: white;
    align-self: flex-end;
    text-align: left;
    font-size: 1.52rem;
    line-height: 1.2;
    margin-left: auto;
    white-space: pre-line;
    word-wrap: break-word;
}

.chat-msg.assistant {
    background: #e5e7eb;
    color: black;
    font-size: 1.52rem;
    line-height: 1.36;
    align-self: flex-start;
    white-space: pre-line;
    word-wrap: break-word;

}

.chat-thinking {
    color: var(--text-color);
    font-style: italic;
}

.chat-form-ai {
    display: flex;
    padding: 6px;
    border-top: 1px solid #c1c1c1;
    background: var(--bg-color);
}

.chat-form-ai input {
    font-size: 1.48rem;
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    background: var(--bg-color);
    color: var(--text-color);
}

.chat-form-ai button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eb2525;
    border: none;
    cursor: pointer;
    transition: 0.012s;
    background: transparent;
}

.chat-form-ai button span {
    &:hover {
        color: rgba(255, 0, 0, 0.782);
    }
}