.header__location--image {
    margin: 46px auto 0;
}

.header__location--image img {
    width: 100%;
    object-fit: cover;
}

.title {
    font-size: 3.8rem;
    font-weight: 600;
    margin-top: 120px;
    color: var(--text-color);
}

.images__detail {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.image__gallery--left {
    height: 700px;
    width: 40%;
    overflow: hidden;
}

.image__gallery--left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image__gallery--right {
    height: 100%;
    overflow: hidden;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 30px;
}

.image-gallery img {
    width: 400px;
    height: 330px;
    object-fit: cover;
}

.heading__title {
    margin: 52px 42px 0;
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.list__desc {
    font-family: Poppins, sans-serif;
    margin: 32px 22px;
    padding: 12px 0 42px;
    list-style: disc;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    color: var(--text-color);
    border-bottom: 1px solid red;
}

.list__desc li {
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.42;
}

.list__price--level {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.price-level {
    margin-left: 12px;
    padding: 12px;
    text-align: center;
}

.price-level h3 {
    font-size: 2.12rem;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--text-color);
}

.price-level span {
    font-size: 2.12rem;
    font-weight: 600;
    color: red;
}

/* ======================= */

.real-estate-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 26px auto;
    font-family: Poppins, sans-serif;
    line-height: 1.6;
}

.real-estate-info {
    flex: 3;
    margin-right: 20px;
}

.real-estate-info h3 {
    color: var(--text-color);
    font-size: 2.22rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.real-estate-info p {
    color: var(--text-color);
}

.real-estate-info h4 {
    color: var(--text-color);
    margin: 18px 0 10px;
    font-style: 2rem;
    font-weight: 600;
}

.real-estate-info ul {
    margin-left: 20px;
    color: var(--text-color);
    list-style-type: "– ";
}

.real-estate-info ul li {
    padding: 10px
}

.contact {
    color: var(--text-color);
    padding: 10px;
    border-left: 4px solid #ea0505;
    margin-top: 15px;
}

.note {
    margin-top: 16px;
    font-weight: bold;
}

.real-estate-seller {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    color: var(--text-color);
}

.real-estate-seller__avatar {
    width: 190px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
}

.real-estate-seller h4 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}


.real-estate-seller__avatar img {
    width: 190px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
}

.phone {
    margin: 10px 0 4px;
    font-weight: bold;
}

.contact-btn {
    background: none;
    color: rgb(255, 0, 0);
    border: none;
    padding: 18px 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.contact-btn:hover {
    color: #ea0505;
    transform: translateX(5px);
}