.header__location--image {
    margin: 46px auto 0;
}

.header__location--image img {
    width: 100%;
    object-fit: cover;
}

.title {
    font-size: 3.8rem;
    font-weight: 600;
    margin-top: 120px;
}

.images__detail {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.image__gallery--left {
    height: 700px;
    width: 40%;
    overflow: hidden;
}

.image__gallery--left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image__gallery--right {
    height: 100%;
overflow: hidden;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 40px;
}

.image-gallery img {
    width: 400px;
    height: 330px;
    object-fit: cover;
}