.post-create__header {
    width: 100%;
    padding: 12px 16px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: #fefefe;
}

.post-create__header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-create__title {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(13, 16, 17);
    line-height: 28px;
}

.post-create__actions {
    display: flex;
    gap: 14px;
}

.post-create__action {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid #dddddd;
    border-radius: 999px;
    padding: 8px 16px;
    background: transparent;
    cursor: pointer;
    transition: 0.25s;
}

.post-create__action--preview {
    &:hover {
        background: #efefef;
    }
}

.post-create__action--exit {
    border: 1.8px solid #fa3719;

    &:hover {
        color: #ffffff;
        background: #fa3719;
    }
}

.post-create__action img {
    height: 20px;
}

.post-create__step {
    margin-top: 12px;
}

.post-create__step-info {
    font-weight: 600;
    font-size: 1.42rem;
}

.post-create__step--item-wrapper {
    margin-top: 8px;
    display: flex;
    gap: 0 4px;
}

.post-create__step--line {
    height: 4px;
    width: 100%;
    border-radius: 100px;
    background: linear-gradient(to right, #fa3719 50%, #eff1f5 50%);
    background-size: calc(200% + 10px) 100%;
    background-position: 100% 100%;
    transition: all .3s ease-out;
}

.post-create__step--line.post-create__step--line-active {
    background-position: 0 100%;
    background-color: #fa3719;
}

/* ===== phần nội dung ========= */
.post-form {
    margin: 110px auto 120px;
    width: 800px;
}

.post-form__field {
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.post-form__field--type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* === Lỗi ====== */

.post-form__field--error {
    border-color: #bf2828 !important;
    background: #fff0f0;
}

.post-form__input--address.post-form__field--error {
    background: #fff0f0;
}

.post-form__field--error-text {
    display: inline-block;
    margin-top: 16px;
    font-size: 1.24rem;
    color: #c80000;
}

/* ========== */

.post-form__label {
    line-height: 1.32;
    font-weight: 700;

    &::after {
        display: inline-block;
        content: '*';
        margin-left: 4px;
        color: red;
    }
}


.post-form__options {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 16px;
}

.post-form__options--address {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.post-form__option {
    border: 1px solid #c1c9d2;
    border-radius: 16px;
    padding: 18px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 3px;

    &:hover {
        background: #f4f4f4;
    }
}

.post-form__option img {
    height: 24px;
    width: 24px;
}

.post-form__option--active {
    outline: 2px solid #000;
    border: 1px solid #fff;
}

.post-form__option-text {
    font-size: 1.6rem;
}

/* Địa chỉ */
.post-form__control {
    margin-top: 16px;
    height: 47px;
    width: 100%;
    border-radius: 999px;
    padding: 12px 14px;
    border: 1px solid #d1d1d1;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-form__input {
    pointer-events: none;
    border: none;
    outline: none;
    background: none;
    font-size: 1.54rem;
    text-indent: 2px;
    padding: 0 !important;
}

/* Form nhập địa chỉ */
.address-panel {
    position: relative;
    font-family: Inter, sans-serif;
    height: calc(100% - 12%);
    width: calc(100% - 60%);
    border-radius: 20px;
    background: #fff;

    overflow: hidden;
}

.address-panel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px 10px;
    border-bottom: 1px solid;
}

.address-panel__title {
    font-size: 20px;
    font-weight: 700;
}

.address-panel__close {
    border: none;
    background: none;
    height: 28px;
    width: 28px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transform: rotate(90deg);
        font-weight: 700;
    }
}

.address-panel__body {
    height: calc(100% - 12.6%);
    padding: 0 14px 40px 20px;
    overflow-y: auto;
}

.address-panel__field {
    margin-top: 20px;
}

.address-panel__label {
    font-size: 1.42rem;
    font-weight: 700;
    margin-left: 8px;
}

.post-form__label--other {
    line-height: 1.32;
    font-weight: 700;
}

.address-panel__control {
    margin-top: 10px;
    position: relative;
    /* height: 46px;
    width: 100%; */
    /* border: 1px solid #d1d1d1; */
    border-radius: 999px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-form__control-icon {
    margin-right: 6px;
}

.address-panel__control--popup {
    position: absolute;
    z-index: 1;
    top: calc(100% + 6px);
    left: 0px;
    width: 100%;
    height: 309px;
    border-radius: 22px;
    background: #fff;
    border: 1px solid #d1d1d1;
    padding: 12px;
    overflow-y: auto;
    scrollbar-width: none;
    cursor: default;
}

.address-panel__control--popup.popup--up {
    top: auto;
    bottom: calc(100% + 6px);
}

.category-panel__control--popup {
    height: 224px;
}

.unit-panel__control--popup {
    height: 106px;
}

.post-form__input--address {
    border-radius: 999px;
    padding: 12px 16px;
    font-size: 1.46rem;
    /* border: none; */
    border: 1px solid #d1d1d1;

    outline: none;
    background: none;
    width: 100%;
    height: 46px;
    cursor: pointer;
}

.post-form__input--address:focus {
    border-color: #5a5a5a;
}

.post-form__input--address:disabled {
    cursor: default;
    background: #efefef;
    border: 1px solid #d1d1d1 !important;

}

.post-form__input--title {
    font-size: 1.42rem;
    line-height: 20px;
    width: 100%;
    min-height: 86px;
    border: 1px solid #d1d1d1;
    outline: none;
    resize: none;
    padding: 12px;
    background: none;
    border-radius: 20px;
    field-sizing: content;
}


.post-form__input--title:focus {
    border: 1px solid #5a5a5a;
}

.address-panel__control--title {
    margin-top: 14px;
    border-radius: 20px;
}

.address-panel__control--desc {
    margin-top: 14px;
    border-radius: 20px;
}

.create-with-AI {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-with-AI button {
    display: flex;
    align-items: center;
    font-weight: 600;
    border: 1px solid #e4dfdf;
    background: transparent;
    border-radius: 999px;
    padding: 8px 12px;
    cursor: pointer;
    user-select: none;
    transition: background 0.3s;

    &:hover {
        background: #ececec;
    }
}

.address-panel__map {
    margin-top: 14px;
    height: 380px;
    width: 100%;
    border-radius: 20px;
    border: 2px dashed #000;
    background: #69696927;
    overflow: hidden;
}

/* ======= Phần xác nhận địa chỉ =============== */

.address-panel__button--submit {
    position: absolute;
    /* height: 100px; */
    background: #fff;

    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address-panel__button--submit-primary {
    font-weight: 600;
    border: none;
    background: #fa3719;
    color: #fff;
    padding: 12px 20px;
    border-radius: 999px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: rgb(232, 41, 12);
    }
}

.address-panel__button--submit-return {
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
        color: #fa3719;
        letter-spacing: 1px;
    }
}

.address-panel__edit {
    height: 40px;
    width: 40px;
    border: 1px solid #2f2f2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: #f0f0f0;
    }
}

.address-panel__button--submit-return::before {
    content: '<-';
    display: inline-block;
    transition: transform 0.3s ease;
    margin-left: 4px;
    letter-spacing: 0;
}

.address-panel__button--submit-return:hover ::before {
    transform: translateX(-4px);
}

.area-control {
    position: relative;
    display: flex;
    align-items: center;
}

.area-control__unit {
    position: absolute;
    right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    font-size: 1.5rem;
    font-weight: 600;
    background: #dddddd;
    border: 1px solid #939393;
    border-radius: 50%;
    pointer-events: none;
}

.bedroom-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.bedroom-control__value {
    width: 12px;
    font-size: 1.52rem;
}

.bedroom-control__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    background: #f4f4f4;
    cursor: pointer;
    transition: 0.24s;

    &:hover {
        background: #d1d1d1;
    }
}

.bedroom-control__btn:disabled {
    opacity: 0.4;
    cursor: default;

    &:hover {
        background: #f5f5f566;
    }
}


.post-create__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px -1px 12px #0000002d;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 860px;
    border-radius: 26px 26px 0px 0px;
    background: #fff;
}


/* ============ Phần hình ảnh ============ */
.post-media {
    margin-top: 8px;
}

.post-media__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-media__edit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 1px solid #363636;
    background: transparent;
    padding: 8px 16px;
    border-radius: 99px;
    cursor: pointer;
    transition: 0.25s;
    font-size: 1.46rem;
    font-weight: 600;

    &:hover {
        background: #f0f0f0;
    }
}

.post-media__hint {
    margin-top: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 16px 22px;
    border-top: 1px solid #696969;
    border-bottom: 1px solid #696969;
    border-radius: 8px;
}

.post-media__hint span {
    font-size: 1.5rem;
}

.post-media__upload {
    margin-top: 16px;
    border: 1px dashed;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px
}

.post-media__dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.post-media__dropzone-text {
    font-weight: 600;
}

.post-media__upload-btn {
    padding: 10px 16px;
}

.post-media__guide {
    margin-top: 4px;
}

.post-media__guide-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 0;
    border-bottom: 1px solid #d1d1d1;
}

.post-media__video {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.post-media__video-link {
    border-radius: 20px;
}


/*  preview */
.post-media__preview {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(252px, 1fr));
    gap: 12px;
    margin-top: 16px;
}

.post-media__preview-item {
    position: relative;
    height: 180px;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    overflow: hidden;
    background: #f3f3f3;
    border: 1px solid #bababa;
}

.post-media__item--sortable {
    height: 210px;
}

.post-media__preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-media__preview-remove {
    position: absolute;
    top: 7px;
    right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #ffffff;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: #e1e1e1;
    }
}

.post-media__preview-360 {
    position: absolute;
    top: 7px;
    right: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #ffffff;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: #e1e1e1;
    }
}

.post-media__preview--box {
    padding: 14px;
    border-radius: 10px;
    cursor: grab;
    background: #ffffff;
    transition: box-shadow 0.3s;
}

.post-media__preview--box:hover {
    box-shadow: 0 0 12px #00000048;

}

.post-media__preview--box:active {
    cursor: grabbing;
    box-shadow: 0 0 14px #000000ac;

}

.image-cover-badge {
    position: absolute;
    top: 7px;
    left: 7px;
    background: #cc2c13;
    box-shadow: 0px 0px 12px #00000074;
    color: #fff;
    font-size: 1.22rem;
    padding: 5px 10px;
    border-radius: 6px;
    z-index: 5;
    pointer-events: none;
}

.post-media__youtube {
    height: 260px;
    width: 460px;
    background: #000;
    border-radius: 16px;
    overflow: hidden;
}

.post-media__youtube--import {
    height: 100%;
    width: 100%;
}

.post-content-preview__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px 0 0;
}

.post-content-preview__label {
    color: #737d87;
    font-size: 1.56rem;
}

.post-content-preview__text {
    margin-top: 6px;
    font-size: 1.54rem;
    line-height: 1.36;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}