.post-status-tabs {
    position: sticky;
    top: 59px;
    z-index: 1;
    display: flex;
    background: #fefefe;
    box-shadow: 0px 8px 8px #0000000e;
}

.post-status-tab {
    position: relative;
    cursor: pointer;
    padding: 18px 20px;
    color: #757575;
    font-size: 1.42rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s;
}

.post-status-tab.active,
.post-status-tab:hover {
    color: #222;
}

.post-status-tab.active::after,
.post-status-tab.hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 3px;
    width: 100%;
    background-color: #ff0000;
    transition: width 0.2s;
}

.post-package__renew {
    font-family: Inter, sans-serif;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
}

.post-package__renew--heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid;
}

.btn-primary__renew {
    display: block;
    margin-top: 32px;
    float: right;
    border: 1px solid #ff1212;
    padding: 12px 16px;
    border-radius: 99px;
    background: #ff1212;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: #e10909;
    }
}

.btn-primary__renew.btn-secondary {
    float: left;
}