.main-content {
    max-width: 1440px;
    margin: 0 auto;
}



.category__title--head {
    margin-top: 24px;
    color: #fff;
    font-size: 2.8rem;
    font-weight: bold;
}

.category-list {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 240px;
    flex-wrap: wrap;
}

.category__title {
    margin-top: 22px;
    color: #fff;
    font-size: 1.8rem;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.category-item:hover {
    transform: scale(1.05);
}