.category__title--head {
    margin-top: 52px;
    font-size: 2.8rem;
}

.category-list {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 240px;
    flex-wrap: wrap;
}

.category__title {
    margin-top: 22px;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.category-item:hover {
    transform: scale(1.05);
}

/* ============ partner =========== */
.partner {
    margin-top: 120px;
}

.partner__content {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 20px 0;
}

.partner__content--left {
    max-width: 80%;
}

.partner___content--title {
    width: 70%;
    line-height: 1.34;
}

.partner__content--desc {
    margin-top: 34px;
    width: 60%;
    font-size: 2rem;
    color: #888;
    line-height: normal;
}

.partner__content--icon {
    margin-top: 32px;
    object-fit: cover;
    height: 140px;
}

.partner__content--right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 120px;
    row-gap: 100px;
}

.partner-span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    width: 220px;
}

.partner__content--span {
    font-family: Poppins, sans-serif;
    font-size: 6.8rem;
    color: var(--partner__content--span);
    font-weight: 700;
}

.partner__content--right div p {
    margin-top: 18px;
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 1.8rem;
    color: var(--partner__content--span-p);
    line-height: normal;
}