@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/* ============= Biến chuyển đổi chế độ sáng tối ================ */
:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --box-shadown: rgba(0, 0, 0, 0.354);
  --partner__content--span: #0D1111;
  --partner__content--span-p: #767E7E;
  --card-text: #303030;
  --hover-bg: #ff0000a0;
  --bg-chat: rgb(255, 255, 255);
  --selected-chat: #f0f0f0;
}

html.dark {
  --bg-color: #0a0a0a;
  --text-color: #f1f1f1;
  --box-shadown: rgba(255, 255, 255, 0.322);
  --partner__content--span: #eccb13;
  --partner__content--span-p: #eccb13bb;
  --card-text: #dfdfdf;
  --hover-bg: #e1e1e1;
  --bg-chat: #1f1f1f;
  --selected-chat: #3a3a3a;
}


/* ================ common =================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 rgba(255, 255, 255, 0);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  background: #fefefe;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

.main-contain {
  width: 1440px;
  max-width: calc(100% - 48px);
  margin: 0 auto;

  /* width: 100%;
  max-width: 1740px;
  min-width: 1440px;
  margin: 0 auto;
  padding: 0 30px; */
}

.header_title {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--text-color);
}

/* ==== NProgress Pro Override ==== */

/* Thanh progress */
#nprogress .bar {
  background: linear-gradient(90deg, #FF0000, #FF4D4D, #FF1A1A) !important;
  /* đỏ đậm → đỏ sáng → đỏ nhạt */
  height: 2px !important;
  border-radius: 3px !important;
  box-shadow: 0 0 8px #FF0000, 0 0 12px #FF4D4D !important;
  /* glow nhẹ */
}

/* Thanh “peg” (bóng đuôi) */
#nprogress .peg {
  box-shadow: 0 0 15px #FF0000, 0 0 10px #FF4D4D, 0 0 5px #FF1A1A !important;
  opacity: 1 !important;
  transform: rotate(3deg) translate(0px, -4px) !important;
}

/* Spinner tròn */
#nprogress .spinner {
  display: block !important;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 16px !important;
  height: 16px !important;
  border: solid 2px transparent !important;
  border-top-color: #FF0000 !important;
  border-left-color: #FF4D4D !important;
  border-radius: 50% !important;
  animation: nprogress-spin 0.8s linear infinite !important;
}

/* Spin animation */
@keyframes nprogress-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Background khi fade out */
#nprogress .nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}