@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ============= Biến chuyển đổi chế độ sáng tối ================ */
:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --box-shadown: rgba(0, 0, 0, 0.354);
  --partner__content--span: #0D1111;
  --partner__content--span-p: #767E7E;
  --card-text: #303030;
  --hover-bg: #ff0000a0;
  --bg-chat: rgb(255, 255, 255);
  --selected-chat: #f0f0f0;
}

html.dark {
  --bg-color: #0a0a0a;
  --text-color: #f1f1f1;
  --box-shadown: rgba(255, 255, 255, 0.322);
  --partner__content--span: #eccb13;
  --partner__content--span-p: #eccb13bb;
  --card-text: #dfdfdf;
  --hover-bg: #e1e1e1;
  --bg-chat: #1f1f1f;
  --selected-chat: #3a3a3a;
}


/* ================ common =================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 0, 0, 0.76) rgba(255, 255, 255, 0);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

.main-contain {
  width: 1440px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.header_title {
  font-size: 4.2rem;
  font-weight: 700;
  color: var(--text-color);
}