/* Nền tổng thể */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(135deg, #e3f2fd, #ffffff); */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card container */
.card {
  background: #fff;
  width: 380px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 25px;
  color: #333;
}

.card__input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  transition: border-color 0.3s;
}

.card__input:focus {
  border-color: #42a5f5;
}

.card__btn {
  width: 100%;
  padding: 12px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.card__btn:hover {
  background-color: #1976d2;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #ccc;
  color: #555;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.google-btn:hover {
  background: #f5f5f5;
}

.google-btn img {
  width: 20px;
  margin-right: 10px;
}

.none-account {
  color: #1976d2;
  text-decoration: none;
}