.dropdown-menu {
    position: absolute;
    top: 62px;
    right: -5px;
    background-color: #F7F7F7;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.28), 0 4px 16px rgba(255, 255, 255, 0.28);
    border-radius: 12px;
    width: 400px;
    padding: 16px;
    height: auto;
    max-height: calc(100vh - 64px - 40px);
    border: 4px solid #FFFFFF;
    overflow-y: scroll;
    scrollbar-width: none;
    animation: fadeIn 0.1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dropdown-menu__none {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    align-items: flex-start;
    height: 132px;
    border-radius: 12px;
}

.aw__s11qss7y {
    font-size: 1.8rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 4px;
}

.aw__snh7o1a {
    color: #8C8C8C;
}

.dropdown-menu__none--btn {
    margin-top: 6px;
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #fff;
    height: 40px;
    width: 100%;
    border-radius: 12px;
    background-color: #fa3719;
    border-color: #fa3719;
    cursor: pointer;
    transition: background 0.25s ease-in-out;

    &:hover {
        background: #fc2b0bdc;
    }
}

.aw__d11fol30 {
    text-align: left;
    height: 38px;
    background-color: #F7F7F7;
    padding: 10px 0 10px 12px;
    margin: 0;
}

.aw__s7szxgv {
    display: block;
    font-size: 1.4rem;
    line-height: 24px;
    font-weight: 700;
    color: #8C8C8C;
}

.aw__g19ew3vq {
    background-color: #FFFFFF;
    border-radius: 12px;
    overflow: hidden;
}

.aw__i168xjue {
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    line-height: 24px;
    text-decoration: none;
    color: #222222;
    font-weight: 700;
    padding: 12px 16px;
    cursor: pointer;

    &:hover {
        background-color: #f4f4f4;
    }
}

.aw__l1o6v83t {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.aw__rqhj46z {
    float: left;
    color: #222222;
    margin-left: 12px;
    color: #595959;
}

.aw__r1feg55h {
    color: #8C8C8C;
    position: absolute;
    right: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

/* ======= Login success =======*/
.dropdown-menu__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown-menu__login--avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-menu__login--custom {
    position: absolute;
    border-radius: 100%;
    color: #FFFFFF;
    bottom: 0;
    right: -4px;
    z-index: 1;
}

.dropdown-menu__login--name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 4px;
    text-align: center;
    margin-top: 8px;
    width: 100%;
}