.nav {
    position: sticky;
    width: 99vw;
    top: 0px;
    z-index: 999;
}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    width: 1440px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.nav__item--logo {
    filter: drop-shadow(0 0 7px red);
    transition: 0.3s;

    &:hover {
        filter: drop-shadow(11px 11px 10px red);
        transform: skew(7deg);
    }
}

.nav__list {
    display: flex;
    column-gap: 22px;
    font-size: 1.7rem;
}

.nav__list li a {
    position: relative;
    color: #a3a3a3;
    transition: 0.25s;

    &::after {
        content: "";
        position: absolute;
        bottom: -5.2px;
        left: 0;
        width: 0;
        height: 2.1px;
        background: rgb(255, 0, 0);
        transition: width 0.3s ease;
    }

}

.nav__list li a:hover,
.nav__list li a.active {
    color: var(--text-color);
    text-shadow: 1px 1px 12px var(--text-color);
    transform: scale(1.1);
}

.nav__list li a:hover::after,
.nav__list li a.active::after {
    width: 100%;
}

.nav__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;
    width: 520px;
}

.nav__info--name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav__info--name h4 {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 10px 0 2px;
    color: var(--text-color);
}

.nav__info--avatar {
    height: 43px;
    width: 43px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    top: 124%;
    right: -110px;
    background: var(--bg-color);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.28), 0 4px 16px rgba(255, 255, 255, 0.28);
    border-radius: 18px;
    padding: 12px 22px;
    width: 260px;
    animation: fadeIn 0.2s ease;
}

.dropdown-menu--desc {
    padding: 12px 16px;
    color: var(--text-color);
    cursor: pointer;
    text-align: start;
    border-radius: 12px;
    transition: 0.25s;
}

.dropdown-menu--desc:hover {
    background: var(--hover-bg);
    transform: scale(1.14);
    color: var(--bg-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-menu__equally {
    display: block;
    margin: 8px;
    border-top: 1px solid #888;
}

.drop-logout {
    background: none;
    width: 100%;
}

.dropdown-icon {
    color: var(--text-color);
}

.dooropen {
    float: right;
    font-size: 2.2rem;
    transition: transform 0.8s;
}

.drop-logout:hover .dooropen {
    transform: rotateY(360deg);
}

.nav__button--right {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 22px;
}

.nav__btn {
    width: 520px;
    display: flex;
    justify-content: flex-end;
}



/* =============== nav button ============== */
.btn {
    height: 50px;
    width: 120px;
    border-radius: 12px;
    font-size: 1.7rem;
    margin-right: 8px;
    background: none;
    color: var(--text-color);
    cursor: pointer;
    white-space: nowrap;
    transition: 0.25s;
}

.btn.nav__btn-login {
    border: none;
    &:hover {
        text-shadow: 1px 1px 14px var(--text-color);
        transform: scale(1.06);
    }
}


.btn.nav__btn-register {
    border: 2px solid var(--text-color);

    &:hover {
        background: var(--text-color);
        color: var(--bg-color);
    }
}