.nav {
    position: sticky;
    top: 0px;
    z-index: 999;
}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 30px;
    width: 100%;
    max-width: 1920px;
    min-width: 1440px;
    margin: 0 auto;
}

.nav__item--logo {
    filter: drop-shadow(0 0 7px red);
    transition: 0.3s;

    &:hover {
        filter: drop-shadow(11px 11px 10px red);
        transform: skew(7deg);
    }
}

.nav__item--list {
    display: flex;
    column-gap: 22px;
    letter-spacing: 0.4px;
}

.nav__item--list li a {
    position: relative;
    color: #a3a3a3;
    transition: 0.25s;

    &::after {
        content: "";
        position: absolute;
        bottom: -5.2px;
        left: 0;
        width: 0;
        height: 2.1px;
        background: rgb(255, 0, 0);
        transition: width 0.3s ease;
    }

}

.nav__item--list li a:hover,
.nav__item--list li a.active {
    color: var(--text-color);
    text-shadow: 1px 1px 12px var(--text-color);
    transform: scale(1.1);
}

.nav__item--list li a:hover::after,
.nav__item--list li a.active::after {
    width: 100%;
}

/* ================ search box ============== */

.container-search__box {
    display: flex;
    background-color: #F4F4F4;
    height: 40px;
    width: 670px;
    border-radius: 999px;
}

.container-search__box--iconsearch {
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding-left: 12px;
    padding-right: 16px;
    height: 40px;
    width: 40px;
    gap: 8px;
}

.aw__cf5h6c0 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(76, 76, 76);
}

.container-search__box--input {
    width: 90%;
    margin: 0 16px 0 0;
    border: none;
    line-height: 1.33;
    outline: none;
    color: #484848;
    font-size: 1.5rem;
    text-indent: 2px;
    background: #F4F4F4;
}

.container-search__box--iconbutton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-search__box--iconbutton button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #fa3719;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    margin-right: 4px;
    color: #f4f4f4;
    cursor: pointer;
    transition: background 0.25s;

    &:hover{
        background: #f62e0fc9;
    }
}


/* ==================== */

.nav__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__button--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.nav__btn-story {
    color: #FFFFFF;
    background-color: #fa3719;
    border-color: #fa3719;
    border: none;
    border-radius: 9999px;
    padding: 0px 12px;
    white-space: nowrap;
    height: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.25s ease-in-out;

    &:hover {
        background: #fc2b0bdc;
    }
}

.nav__btn-story--manager {
    color: var(--text-color);
    background: none;
    border: 1px solid #E8E8E8;
    border-radius: 9999px;
    padding: 0px 12px;
    white-space: nowrap;
    height: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background: #f4f4f4;
    }
}

.nav__info--name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #E8E8E8;
    border-radius: 999px;
    padding: 4px 8px 4px 4px;
    transition: 0.25s;

    &:hover {
        background: #f4f4f4;
    }
}

.dropdown-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 78px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
}

.nav__info--avatar {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-icon {
    color: var(--text-color);
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.rotate {
    transform: rotate(180deg);
}


/* =============== nav button ============== */

.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.26s;

    &:hover {
        background: #f4f4f4;
    }
}

/* ================== auth form ================== */
.auth-form {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    animation: fadeIn 0.32s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}