.chose-type__container {
    position: absolute;
    top: 58px;
    right: -48px;
    /* height: 330px; */
    width: 326px;
    border-radius: 12px;
    box-shadow: 0 4px 32px 0 rgba(34, 34, 34, 0.25);
    background: #fff;
}

.chose-type__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #f4f4f4;
    color: #222;
    font-weight: 600;
}

.chose-type__content {
    padding: 12px;
}

.chose-type__box {
    height: 252px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.select-region__box {
    height: 242px;
}

.chose-type__box--section {
    padding: 8px 16px;
    background-color: #fff;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
        background: #f4f4f4;
    }
}

.box-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.box-section__title {
    display: flex;
    align-items: center;
    white-space: 'nowrap';
    overflow: hidden;
    text-overflow: ellipsis;
    height: 24px;
    width: 100%;
    color: #222;
    font-size: 1.54rem;
}


.box-section__checkbox {
    position: relative;
    display: inline-flex;
    width: 20px;
}

.box-section__lable {
    display: inline-block;
    height: 20px;
    width: 100%;
    cursor: pointer;
}

.radio__span {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    border: 2px solid red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    pointer-events: none;
}

.radio__span--svg {
    color: #fff;
}

.box-section__lable>input:not(:checked)+.radio__span {
    background: #fff;
    border: 2px solid #dadada;
}

.box-section__lable>input:not(:checked)+.radio__span svg {
    display: none;
}


/* ============ select region =========== */

.select-region__container {
    position: absolute;
    top: 58px;
    left: 0;
    /* height: 330px; */
    width: 340px;
    border-radius: 12px;
    box-shadow: 0 4px 32px 0 rgba(34, 34, 34, 0.25);
    background: #fff;
}

.select-region__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #f4f4f4;
    color: #222;
    font-weight: 600;
}

.select-region__heading svg {
    cursor: pointer;
    position: absolute;
    top: 6%;
    left: 16px;
    transform: translateY(-50%);
}

.select-region__content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    user-select: none;
}

/* ============= search region =============== */
.select-region__content--search {
    display: flex;
    gap: 8px;
    background-color: #F4F4F4;
    padding: 8px;
    border-radius: 999px;
}

.select-region__content--search svg {
    color: #8C8C8C;
}

.select-region__content--search input {
    border: none;
    background-color: transparent;
    flex-grow: 1;
    outline: none;
    font-size: 1.4rem;
    text-indent: 3px;
}

.select-region__content--city {
    position: relative;
    width: 100%;
}

.select-region__content--city1 {
    position: relative;
    height: 54px;
    width: 100%;
    border-radius: 12px;
    border: 2px solid #DADADA;
    background: #FFFFFF;
    transition: border 0.25s;

    &:hover {
        border: 2px solid #222222;
    }
}

.select-region__content--city1 div {
    width: 100%;
    height: 48px;
    color: #111111;
    font-size: 1.46rem;
    padding: 24px 12px 0 14px;
    border-radius: 12px;
    background-color: #FFFFFF;
    text-align: left;
    cursor: pointer;
}

.select-region__content--city1 label {
    position: absolute;
    top: 7px;
    left: 12px;
    transform-origin: top left;
    color: #222;
    font-size: 1.16rem;
    font-weight: 700;
    pointer-events: none;

    &::after {
        content: '*';
        margin-left: 2px;
        color: #f03232;
    }
}

.select-region__content--city1 span {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12.6px;
    right: 8px;
    color: #222;
    pointer-events: none;
}

.select-region__content--city1 span svg {
    color: #222;
    font-size: 2.5rem;
}


.select-region__button {
    padding: 12px 14px;
    border-top: 1px solid #F4F4F4;
}

.select-region__button--submit {
    padding: 0px 14px;
    height: 40px;
    width: 100%;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    background: #fa3719;
    cursor: pointer;
    transition: background 0.25s;

    &:hover {
        background: #ff553b;
    }
}


.select-region__content--city.disabled {
    opacity: 0.5;
    pointer-events: none;
}