/* ============= common ============= */
*{
    box-sizing: border-box;
    margin: 0;
}

.main-content {
    max-width: 1440px;
    margin: 0 auto;
}


/* ============= header ============ */
.header {
    margin-top: 16px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__search {
    height: 50px;
    width: 800px;
    border-radius: 999px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 16px;
}

.btn {
    height: 50px;
    width: 120px;
    border-radius: 12px;
    border: 2px solid transparent;
    font-size: 1.2rem;
    margin-right: 8px;
    background: none;
    transition: 0.25s;

    &:hover {
        border: 2px solid #fff;
        cursor: pointer;
    }
}