/* ============= header ============ */
.header {
    margin-top: 16px;
}

.header__banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 550px;
    margin-top: 46px;
}

.banner__wrapper {
    display: flex;
    transition: transform 0.8s ease-in-out;
    width: 100%;
}

.banner__image {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.banner__dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #8d8989;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #ddd;
}