/* ============= header ============ */
.header {
    margin-top: 16px;
}

.nav {
    position: sticky;
    width: 99vw;
    top: 0px;
    z-index: 999;
}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    width: 1440px;
    margin: 0 auto;
}

.nav__item--logo {
    filter: drop-shadow(0 0 7px red);
    transition: 0.3s;

    &:hover {
        filter: drop-shadow(11px 11px 10px red);
        transform: skew(7deg);
    }
}

.nav__list {
    display: flex;
    column-gap: 22px;
    font-size: 1.7rem;
}

.nav__list li a {
    position: relative;
    color: #a3a3a3;
    transition: 0.25s;

    &::after {
        content: "";
        position: absolute;
        bottom: -5.2px;
        left: 0;
        width: 0;
        height: 2.1px;
        background: rgb(255, 0, 0);
        transition: width 0.3s ease;
    }

}

.nav__list li a:hover,
.nav__list li a.active {
    color: var(--text-color);
    text-shadow: 1px 1px 12px var(--text-color);
    transform: scale(1.1);
}

.nav__list li a:hover::after,
.nav__list li a.active::after {
    width: 100%;
}

.header__btn {
    width: 520px;
    display: flex;
    justify-content: flex-end;
}

.header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;
    width: 520px;
}

.header__info--name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__info--name h4 {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 10px 0 16px;
    color: var(--text-color);
}

.header__info--avatar {
    height: 43px;
    width: 43px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-icon {
    color: var(--text-color);
}

.header__button--right {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 22px;
}



/* =============== header button ============== */
.btn {
    height: 50px;
    width: 120px;
    border-radius: 12px;
    font-size: 1.7rem;
    margin-right: 8px;
    background: none;
    color: var(--text-color);
    cursor: pointer;
    white-space: nowrap;
    transition: 0.25s;
}

.btn.header__btn-login {
    &:hover {
        text-shadow: 1px 1px 14px var(--text-color);
        transform: scale(1.06);
    }
}


.btn.header__btn-register {
    border: 2px solid var(--text-color);

    &:hover {
        background: var(--text-color);
        color: var(--bg-color);
    }
}


/* ============= header baner ============= */
.header__banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 550px;
    margin-top: 46px;
}

.banner__wrapper {
    display: flex;
    transition: transform 0.8s ease-in-out;
    width: 100%;
}

.banner__image {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.banner__dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #8d8989;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #ddd;
}