.bell-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.26s;

  &:hover {
    background: #f4f4f4;
  }
}

.bell-count {
  position: absolute;
  top: -2px;
  right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  color: white;
  font-size: 1.26rem;
  font-weight: 600;
  background: #ff0000;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.316);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 40;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 396px;
  height: 100%;
  background: var(--bg-color);
  box-shadow: -2px 0 8px rgba(94, 94, 94, 0.32);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 50;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px;
  border-bottom: 0.6px solid #b0afaf;
}

.sidebar-header h2 {
  font-size: 2.24rem;
  font-weight: 600;
  text-shadow: 0 0 2px #fff;
  color: var(--text-color);
}

.close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #777777;
}

.close-btn:hover {
  color: var(--text-color);
}

.sidebar-content {
  flex: 1;
  overflow-y: auto;
  color: var(--text-color);
}

.notify-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  color: #2e2e2e;
  width: 100%;
  height: 70px;
  padding: 8px 16px;
  border-bottom: 1px solid #f4f4f4;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: #f4f4f4;
  }
}

.sidebar--notlogin {
  padding: 12px 22px;
  text-align: center;
}

.sidebar--notlogin p {
  font-size: 1.46rem;
  color: #2e2e2e;
  margin: 16px;
}

.sidebar--notlogin button {
  height: 50px;
  padding: 0 22px;
  background: #fff;
  border: 2px solid #ececec;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2e2e2e;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: #f4f4f4;
  }
}