.bell-btn {
  position: relative;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.bell-icon {
  color: #c9c9c9;
  background-color: transparent;
  padding: 4px;
  transition: 0.3s;
  font-size: 3.4rem;
}

.bell-icon:hover {
  color: var(--text-color);
}

.bell-count {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: white;
  font-size: 1.4rem;
  background: #ff0000;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.316);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 40;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 396px;
  height: 100%;
  background: var(--bg-color);
  box-shadow: -2px 0 8px rgba(94, 94, 94, 0.32);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 50;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 0.6px solid #b0afaf;
}

.sidebar-header h2 {
  font-size: 2.2rem;
  text-shadow: 0 0 2px #fff;
  color: var(--text-color);
}

.close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #777777;
}

.close-btn:hover {
  color: var(--text-color);
}

.sidebar-content {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  color: var(--text-color);
}

.notify-item {
  background: var(--bg-color);
  box-shadow: 0 3px 6px rgba(208, 208, 208, 0.2), 0 3px 6px var(--text-color);
  margin-top: 16px;
  padding: 22px;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
}

.notify-item:hover {
  background: var(--bg-color);
  box-shadow: 0 6px 16px var(--box-shadown);
  transform: scale(1.04);
}