.main-contain {
    max-width: 1440px;
    margin: 0 auto;
}

.city-section {
    margin-top: 180px;
}

.city-section h2 {
    font-size: 2.8rem;
    color: #fff
}

.city-grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 108px;
    justify-content: center;
    align-items: center;
}

.city-card {
    position: relative;
    height: 250px;
    width: 380px;
    /* overflow: hidden; */
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s;
}

.city-card:hover {
    transform: scale(1.05);
}

.city-card img {
    width: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.city-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 1.25rem;
}

.city-info-more {
    color: #FF1216;
    font-weight: bold;
    margin-top: 12px;
    font-size: 1.2rem;
}