.city-section {
    margin-top: 120px;
}

.city-section__home {
    padding: 60px 0;
}

.city-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 80px;
    place-items: center;
}

.city-card {
    position: relative;
    z-index: 100;
    height: 280px;
    width: 420px;
    cursor: pointer;
    box-shadow: 1px 2px 12px #ffffff7c, 1px 2px 14px #0000007c;
    transition: 0.3s;

    &:hover {
        box-shadow: 1px 2px 16px #ffffff, 1px 2px 22px #000000;
    }
}

.city-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    opacity: 0.88;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}

.city-card img:hover+.city-info {
    text-shadow: 0 0 12px #ffffff, 0 0 12px #000000;
}

.city-info {
    font-family: Poppins, sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    left: 14px;
    color: white;
    text-shadow: 0 0 12px #000000, 0 0 12px #ffffff;
    transition: 0.42s;
}

.city-info-more {
    color: #e1181b;
    font-weight: bold;
    margin-top: 22px;
    font-size: 1.8rem;
    transition: 0.3s;

    &:hover {
        transform: scale(1.016);
        translate: 16px;
    }
}