.footer {
    margin-top: 180px;
    color: #ffffff;
    font-family: Poppins, sans-serif;
}

.footer__top {
    border-top: 1px solid #888;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 80px;
}

.footer__col {
    flex: 1;
    margin: 0 20px;
}

.footer__slogan {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(213, 213, 213);
}

.footer__col h3 {
    font-size: 2.12rem;
    margin-bottom: 22px;
    font-weight: 600;
}

.footer__col ul a {
    display: flex;
    margin-bottom: 24px;
    color: #8d8d8d;
    cursor: pointer;
    transition: color 0.3s;
}

.footer__col ul a:hover {
    color: red;
}

.footer__col--icon{
    align-items: center;
    gap: 12px;
}

.footer__col p {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(186, 186, 186);
}

.footer__copyright {
    border-top: 1px solid #888;
    text-align: center;
    padding: 16px 0 32px;
    font-size: 1.7rem;
    color: #afafaf;
}