.footer {
    margin-top: 126px;
    color: #2E2E2E;
    font-family: Inter, sans-serif;
    background: #f7f7f7;
}

.footer__top {
    border-top: 1px solid #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 8px 52px 80px;
}

.footer__col {
    flex: 1 1 auto;
    margin: 0 20px;
}

.footer__slogan {
    margin-top: 8px;
    position: relative;
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.32;
    color: #565656;
    width: 86%;
}

.footer__slogan--span {
    position: relative;
    display: inline-block;
    height: 2px;
    width: 30%;
    background: #f94a4a;
}

.footer__slogan--span::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background: #f94a4a;
}

.footer__col h3 {
    font-size: 2rem;
    margin-bottom: 22px;
    font-weight: 600;
}

.footer__col ul a {
    font-family: Poppins, sans-serif;
    display: flex;
    margin-bottom: 24px;
    color: #535353;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 1.54rem;
}

.footer__col ul a:hover {
    color: #fa3719;
}

.footer__col--icon {
    align-items: center;
    gap: 12px;
}

.footer__copyright {
    width: 62%;
    margin: 0 auto;
    border-top: 1px solid #d1d1d1;
    text-align: center;
    padding: 16px 0;
    font-size: 1.58rem;
    color: #636363ca;
}