.footer {
    margin-top: 180px;
    color: var(--text-color);
    font-family: Poppins, sans-serif;
}

.footer__top {
    border-top: 1px solid #888;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 80px;
}

.footer__col {
    flex: 1;
    margin: 0 20px;
}

.footer__slogan {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: #909090;
}

.footer__col h3 {
    font-size: 2.12rem;
    margin-bottom: 22px;
    font-weight: 600;
}

.footer__col ul a {
    display: flex;
    margin-bottom: 24px;
    color: #8d8d8d;
    cursor: pointer;
    transition: color 0.3s;
}

.footer__col ul a:hover {
    color: red;
}

.footer__col--icon{
    align-items: center;
    gap: 12px;
}

.footer__copyright {
    border-top: 0.16px solid #636363d7;
    text-align: center;
    padding: 16px 0 32px;
    font-size: 1.67rem;
    color: #636363ca;
}