.main-contain {
    max-width: 1440px;
    margin: 0 auto;
}

.footer {
    margin-top: 180px;
    color: #ffffff;
}

.footer__top {
    border-top: 1px solid #888;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 80px;
}

.footer__col {
    flex: 1;
    margin: 0 20px;
}

.footer__logo {
    color: red;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer__slogan {
    margin-top: 10px;
    font-size: 1.25rem;
    color: rgb(213, 213, 213);
}

.footer__col h3 {
    font-size: 1.25rem;
    margin-bottom: 22px;
    font-weight: 600;
}

.footer__col ul {
    list-style: none;
    padding: 0;
}

.footer__col ul li {
    margin-bottom: 8px;
    color: gray;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 1.05rem;
}

.footer__col ul li:hover {
    color: red;
}

.footer__social {
    display: flex;
    gap: 15px;
    font-size: 30px;
    color: gray;
}

.footer__social svg:hover {
    color: red;
    cursor: pointer;
}

.footer__col p {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(186, 186, 186);
}

.footer__bottom {
    border-top: 1px solid #888;
    text-align: center;
    padding: 15px 0;
    font-size: 1.03rem;
    color: #afafaf;
}