.card__heading--title {
    margin-top: 80px;
}

.property-grid {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 26px;
    row-gap: 38px;
    padding: 20px 3px;
    justify-items: center;
}

.property-card {
    width: 100%;
    height: 438px;
    border-radius: 16px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 7px rgba(255, 255, 255, 0.1), 0 2px 7px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 15px;
    transition: box-shadow 0.3s ease;
    user-select: none;
    cursor: pointer;
}

.property-card:hover {
    box-shadow: 0 5px 14px rgba(255, 255, 255, 0.3), 0 5px 14px rgba(0, 0, 0, 0.3);
}

.vip-badge {
    position: absolute;
    top: 48px;
    left: -26px;
    z-index: 1;
    background-color: #d90c0c;
    color: white;
    font-size: 1.5rem;
    padding: 4px 16px;
    border: 2px solid #8a0b0b;
    font-weight: 700;
    transform: rotate(90deg);
    letter-spacing: 3px;
}

.property-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.property-title {
    height: 4.2rem;
    font-size: 2rem;
    font-weight: 600;
    margin: 8px 0 10px;
    color: var(--card-text);
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: 1.02;
}

.property-meta {
    color: #898989;
    font-size: 1.46rem;
}

.property-price {
    margin: 16px 0;
    font-size: 1.9rem;
    color: #d60000;
    font-weight: bold;
}

.property-price span {
    font-size: 1.5rem;
    color: #6f6f6f;
}

.property-location {
    color: #818080;
    padding: 3px 0;
    display: flex;
    align-items: center;
}

.property-location span {
    font-size: 1.52rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px;
}

.property-heart {
    margin-top: 8px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property-posted {
    font-size: 1.4rem;
    color: #616060;
}

.heart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    padding: 3.2px;
    cursor: pointer;
}

.property__heart-icon {
    width: 27px;
    height: 27px;
    transition: transform 0.3s;
}

.heart-button:hover .property__heart-icon {
    transform: scale(1.05);
}

.show-more-container {
    display: flex;
    justify-content: center;
    margin: 16px 0 22px;
}

.show-more-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 14px 60px;
    font-weight: 600;
    border: 1px solid #dadada;
    border-radius: 999px;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s;
}

.show-more-btn:hover {
    background-color: #f3f3f3;
}

.expand-icon {
    font-size: 1.7rem;
    transition: transform 0.3s;
}

.show-more-btn:hover .expand-icon {
    transform: translateY(2px);
}

.image-container {
    position: relative;
    width: 100%;
    height: 210px;
    border-radius: 12px;
    overflow: hidden;
}

.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
    font-size: 2.2rem;
    font-weight: 700;
    cursor: pointer;
    color: #ffffffe3;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
}

.arrow-btn:hover {
    background: rgba(255, 255, 255, 0.637);
}

.arrow-btn.left {
    left: 9px;
}

.arrow-btn.right {
    right: 9px;
}


.dot-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
}

.card__dot {
    width: 7px;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card__dot.active {
    background-color: white;
}