.property-grid {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 20px;
    justify-items: center;
}

.property-card {
    width: 100%;
    max-width: 430px;
    height: 505px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
    cursor: pointer;
}

.property-card:hover {
    transform: scale(1.0036);
    box-shadow: 0 6px 16px rgba(255, 255, 255, 0.3), 0 6px 16px rgba(0, 0, 0, 0.3);
}

.vip-badge {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 10;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.property-img {
    width: 100%;
    height: 245px;
    object-fit: cover;
}

.property-info {
    padding: 10px 15px;
}

.property-title {
    height: 50px;
    font-size: 2.2rem;
    font-weight: 600;
    margin: 4px 0 12px;
    color: var(--card-text);
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.property-meta {
    color: #898989;
}

.property-price {
    margin-top: 22px;
    font-size: 2.2rem;
    color: #d60000;
    font-weight: bold;
}

.property-location {
    color: #818080;
    margin-top: 18px;
    padding: 3px;
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.property-location span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px;
}

.property-heart {
    padding: 2px;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property-posted {
    font-size: 1.5rem;
    color: #616060;
}

.heart-button {
    cursor: pointer;
    transition: 0.3s ease;
}

.heart-button:hover {
    transform: scale(1.1);
}

.show-more-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.show-more-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px 26px;
    font-size: 1.7rem;
    font-weight: 600;
    border: 2px solid var(--text-color);
    border-radius: 12px;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s;
}

.show-more-btn:hover {
    background-color: var(--text-color);
    color: var(--bg-color)
}

.expand-icon {
    font-size: 1.7rem;
    transition: transform 0.3s;
}

.show-more-btn:hover .expand-icon {
    transform: translateY(2px);
}






.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
    font-size: 2.2rem;
    font-weight: 700;
    cursor: pointer;
    color: #ffffffe3;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
}

.arrow-btn:hover {
    background: rgba(255, 255, 255, 0.637);
}

.arrow-btn.left {
    left: 9px;
}

.arrow-btn.right {
    right: 9px;
}


.dot-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
}

.card__dot {
    width: 7px;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card__dot.active {
    background-color: white;
}