.news-section {
    margin-top: 126px;
    color: var(--text-color);
}

.news-list {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}

.news-item {
    padding: 14px 14px 24px 14px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 14px;
    overflow: hidden;
    transition: 0.25s;

    &:hover {
        box-shadow: 0 0 12px #00000042;
        background: #f4f4f4;
    }
}

.news-item img {
    height: 172px;
    width: 100%;
    border-radius: 12px;
    background: #00000029;
    object-fit: cover;
}

.news-item h1 {
    color: #222;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.16;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.news-item p {
    font-size: 1.42rem;
    color: #a0a0a0;
}

.news-item p:last-child {
    color: #5d5c5c;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: justify;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}