.main-contain {
    max-width: 1440px;
    margin: 0 auto;
}

.news-section {
    margin: 160px;
    color: white;
    text-shadow: 1px 1px 8px #000;
}

.news-grid {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 30px;
    align-items: center;
}

.news-main {
    position: relative;
    height: 770px;
    width: 550px;
    cursor: pointer;
}

.news-main img {
    width: 100%;
    object-fit: cover;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}

.news-main-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    /* width: 380px; */
    line-height: 1.67;
}

.news-main-content h2 {
    font-size: 2.6rem;
    font-weight: 700;
    margin: 22px 0;
}

.news-main-content p {
    font-size: 2rem;
    width: 410px;
}

.news-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 45px;
}

.news-item {
    display: flex;
    gap: 22px;
    cursor: pointer;
    line-height: 1.42;
    transition: 0.3s;

    &:hover {
        opacity: 0.8;
    }
}

.news-item img {
    width: 360px;
    height: 226px;
    object-fit: cover;
}

.news-item h1 {
    margin-top: 20px;
    height: 50px;
    font-size: 1.8rem;
    font-weight: 700;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.news-item__date {
    margin-top: 6px;
    color: #d0d0d0;
    font-size: 1.46rem;
}

.news-item__desc {
    margin-top: 20px;
    font-size: 1.6rem;
    color: #d0d0d0;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.news-item a {
    display: inline-block;
    margin-top: 32px;
    color: #dc1414;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.54rem;

    &:hover {
        color: red;
    }
}