.form-container__header {
  font-size: 3.4rem;
  font-weight: 600;
  letter-spacing: -1.5px;
  margin-bottom: 15px;
}

.overlay-container__title {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 45px;
  margin: 0;
  text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

.overlay-container__desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

.form-container__span {
  font-size: 1.4rem;
  margin-top: 25px;
}

.pass-link__forgot {
  color: #333;
  font-size: 1.4rem;
  margin: 15px 0;
  transition: 0.3s ease-in-out;
}

.pass-link__forgot:hover {
  color: #4bb6b7;
}

.social-container {
  margin: 20px 0;
}

.form-container__content {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}

.form-container__content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container__content input {
  accent-color: #333;
  width: 12px;
  height: 12px;
}

.form-container__content label {
  font-size: 1.4rem;
  user-select: none;
  padding-left: 5px;
}

.form-container__btn {
  position: relative;
  border-radius: 28px;
  border: 1px solid #4bb6b7;
  background-color: #4bb6b7;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px;
  padding: 12px 80px;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

.form-container__btn:hover {
  letter-spacing: 3px;
}

.form-container__btn:active {
  transform: scale(0.95);
}

.form-container__btn:focus {
  outline: none;
}

button.ghost {
  background-color: rgba(225, 225, 225, 0.2);
  border: 2px solid #fff;
  color: #fff;
}

.form-container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.input__auth-form {
  font-size: 1.4rem;
  background-color: #eee;
  border-radius: 12px;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.form-login {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  width: 768px;
  max-width: 95%;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  animation: scaleIn 0.25s ease;
}

@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.form-login.right-panel-active .login-container {
  transform: translateX(100%);
}

.register-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.form-login.right-panel-active .register-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.form-login.right-panel-active .overlay-container {
  transform: translate(-100%);
}

.overlay {
  background-image: url('../../../../public/images/image.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to top,
      rgba(46, 94, 109, 0.4) 40%,
      rgba(46, 94, 109, 0));
}

.form-login.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.form-login.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.form-login.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.error {
  color: rgba(255, 0, 0, 0.848);
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 3px;
}

.login-google {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: 1px solid #4bb6b7;
  border-radius: 28px;
  padding: 8px 22px;
  font-size: 1.5rem;
  font-weight: 550;
  color: #4bb6b7;
  opacity: 0.9;
  transition: 0.32s;
  user-select: none;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transform: scale(1.06);
  }
}