.modal-resetpassword {
    background: #e9edf3;
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.35s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-resetpassword__title {
    font-family: Inter, sans-serif;
    letter-spacing: 1px;
    font-size: 2.5rem;
    font-weight: 600;
    color: #31344b;
    text-align: center;
    margin-bottom: 26px;
    text-transform: uppercase;
}

.input-password {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye-toggle__reset {
    position: absolute;
    top: 42px;
    right: 16px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.input-password input {
    margin-top: 22px;
    width: 100%;
    padding: 15px 20px 15px 25px;
    border: none;
    outline: none;
    background: #e9edf3;
    border-radius: 15px;
    color: #31344b;
    box-shadow: inset 5px 5px 10px #b8b9be, inset -5px -5px 10px #ffffff;
}

.input-password input::placeholder {
    font-size: 1.57rem;
    color: #a3a3a3;
}

.input-password button {
    padding: 6px 12px;
    border: none;
    background: #ddd;
    border-radius: 6px;
    cursor: pointer;
}

.button-submit {
    margin-top: 30px;
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    color: #31344b;
    cursor: pointer;
    box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px #ffffff;
    background: #e9edf3;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.2s;

    &:hover {
        box-shadow: 3px 3px 8px #b8b9be, -3px -3px 8px #ffffff;
    }
}

.button-cancel {
    position: absolute;
    top: 12px;
    right: 14px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #e9edf3;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    color: #4a5568;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 12px #c5c9ce, -6px -6px 12px #ffffff;
    transition: all 0.2s;

    &:hover {
        transform: scale(1.12);
    }
}

.notification__error {
    padding: 12px 0 0;
    font-size: 1.42rem;
    color: red;
    user-select: none;
}