.verification-box {
    height: 506px;
    width: 420px;
    background: #fefefe;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 4px 4px 26px #00000082;
}

.modal {
    font-family: Inter, sans-serif;
    background: #fff;
    border-radius: 16px;
    padding: 8px 20px;
    width: 100%;
    text-align: center;
}

.modal__title {
    color: #060606;
    font-size: 2.2rem;
    font-weight: 700;
    padding: 0 0 18px;
    border-bottom: 1px solid #888;
    user-select: none;
}

.modal__desc {
    font-size: 1.4rem;
    margin: 20px 0 16px;
    color: #222;
    user-select: none;
}

.modal__desc span {
    display: block;
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    user-select: text;
}

.resend {
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.resend p {
    color: #222;
    font-size: 1.4rem;
    user-select: none;
}

.resend button {
    background: transparent;
    font-size: 1.4rem;
    color: red;
    border: none;

    &:hover {
        text-decoration: underline;
    }
}


.button-verifyOtp {
    margin-top: 32px;
    width: 100%;
    padding: 14px 0;
    background: #fa3719;
    box-shadow: 2px 2px 6px #c33232ab;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1.8rem;
    font-weight: 700;
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 2px 2px 6px #4b1010ab;
    }
}

.notification__verify {
    padding: 16px 2px;
    font-size: 1.36rem;
    font-weight: 500;
    background: #fff5f5;
    border: 2px solid #ffcbcb;
    border-radius: 8px;
    color: red;
    user-select: none;
}

.notification__verify--success {
    background: #eafaf1;
    border: 2px solid #d9f8e4;
    color: #2a8c4e;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-4px);
    }

    50% {
        transform: translateX(4px);
    }

    75% {
        transform: translateX(-4px);
    }

    100% {
        transform: translateX(0);
    }
}